################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ClickerMatic/obj
/.vs
/ClickerMatic/.vs
/ClickerMatic/bin
